<?xml version='1.0' encoding='utf-8'?>
<widget id="br.edu.ifrs.riogrande.projetoufpel" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Projeto Ufpel</name>
    <description>
        Aplicativo criado com intuito de facilitar o gerenciamento de tratores, em uma parceria IFRS e UFPEL.
    </description>
    <author email="gideonveloz@gmail.com" href="https://www.facebook.com/leogideao">
        Leonardo Gideão
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.2" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <plugin name="cordova-plugin-splashscreen" spec="~1.3.2" />
    <platform name="android">
        <icon src="www/res/icon/36x36.png" platform="android" qualifier="ldpi" />
        <icon src="www/res/icon/48x48.png" platform="android" qualifier="mdpi" />
        <icon src="www/res/icon/72x72.png" platform="android" qualifier="hdpi" />
        <icon src="www/res/icon/96x96.png" platform="android" qualifier="xhdpi" />
        <icon src="www/res/icon/144x144.png" platform="android" qualifier="xxhdpi" />
        <icon src="www/res/icon/192x192.png" platform="android" qualifier="fr-xxhdpi" />
    </platform>
</widget>
